<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.zerock.mapper.MemberMapper">

	<!--  DELETE from tbl_board WHERE bno ＝ 40  -->
	<delete id="delete">
		DELETE from member WHERE memberid = #{memberid}
	</delete>
	<select id="read" resultType="org.zerock.domain.memberVO">
		SELECT * from member WHERE memberid = #{memberid}
	</select>
</mapper>